<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="union.union_vr1"
    android:versionCode="1"
    android:versionName="1.0">

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- PERMISOS PARA EL SYNCADAPTER -->

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Utils.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TemaDark">
        <service
            android:name=".AsyncTask.TimerGps"
            android:process=":EnviarGps" />
        <service
            android:name=".Servicios.ServiceFireListener"
            android:process=":ListenerFireBase" />
        <service
            android:name=".Servicios.ServiceFireListenerTemp"
            android:process=":ListenerFireBaseTemp" />

        <receiver
            android:name=".Servicios.BroadCastRunFireBaseService"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Vistas.VMovil_Menu_Establec"
            android:label="Seleccionar Cliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_BluetoothImpCobros"
            android:label="Imprimir Cobros"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Venta_Producto"
            android:label="Ventas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyAndroidAppActivityX"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Venta_Cabecera"
            android:label="Venta de Productos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_BluetoothImpCobrosManuales"
            android:label="Imprimir Cobros Manuales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Evento_Establec"
            android:label="Cliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Venta_Credito"
            android:label="Plan de Pagos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Venta_Comprob"
            android:label="Mantenimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Cobro_Credito"
            android:label="Cobro de Créditos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Evento_Indice"
            android:label="Principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Evento_Gasto"
            android:label="Gastos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MySQL.DbManager_Evento_Establec_GET"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySQL.DbManager_Evento_Establec_POST"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Histo_Venta"
            android:label="Historial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Canc_Histo"
            android:label="Reporte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Resumen_Caja"
            android:label="Resumen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Online_Pumovil"
            android:label="P. Unión"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Cobros_Totales"
            android:label="Deudas por Cobrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Venta_Cabecera_AgregarProductos"
            android:label="Agregar productos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Venta_Cabecera_PlanPagos"
            android:label="Plan de Pagos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySQL.DbManager_Agente_GET"
            android:label="Continuar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Evento_Canjes_Dev"
            android:label="Canjes y Devoluciones"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Vistas.VMovil_Operacion_Canjes_Devoluciones"
            android:label="Canjes y Devoluciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VMovil_Facturas_Canjes_Dev"
            android:label="Canjear o Devolver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.mostrar_can_dev_facturas"
            android:label="Canjear o Devolver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VMovil_BluetoothImprimir"
            android:label="Imprimir"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prueba"
            android:label="@string/title_activity_prueba" />

        <service
            android:name=".Alarm.ServiceNotifyResumen"
            android:enabled="true" />

        <receiver android:name=".Alarm.ReceiverAlarmFinishedDay" />

        <activity
            android:name=".activity_agregar_establecimiento"
            android:label="@string/title_activity_activity_agregar_establecimiento" />
        <activity
            android:name=".Vistas.Files"
            android:label="@string/title_activity_files" />
        <activity
            android:name=".Vistas.AppPreferences"
            android:label="@string/title_activity_app_preferences" />
        <activity
            android:name=".Vistas.VMovil_Consultar_Inventario"
            android:label="Consultar Inventario"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".Vistas.VMovil_Cargar_Inventario"
            android:label="@string/title_activity_vmovil__cargar__inventario"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".Vistas.ImprimirArqueoCaja"
            android:label="@string/title_activity_imprimir_arqueo_caja" />
        <activity
            android:name=".Vistas.VMovil_Crear_Establecimiento"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vmovil__crear__establecimiento"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Vistas.VMovil_Modificar_Estab"
            android:label="Modificar Establecimiento"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Vistas.VMovil_Abrir_Caja"
            android:label="Abrir Cuenta"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Vistas.VMovil_Agentes_Dias_Semanas"
            android:label="Días Semanales">
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Vistas.VMovil_Trans_Prod_Detallado"
            android:label="Guia de Remisión"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FacturacionElectronica.SignatureActivity"
            android:label="@string/title_activity_signature">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".VentasRRPP"
            android:label="@string/title_activity_ventas_rrpp" />
        <!--
        <service android:name=".SyncAdapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".SyncAdapter.SyncService"
            android:exported="true"
        android:process=":sync">
        <intent-filter>
            <action android:name="android.content.SyncAdapter"/>
        </intent-filter>
        <meta-data android:name="android.content.SyncAdapter"
            android:resource="@xml/syncadapter" />
    </service>
        -->

        <service
            android:name=".AsyncTask.ExportService"
            android:exported="false" />
        <activity
            android:name=".Vistas.Bluetooth_Printer"
            android:label="@string/title_activity_bluetooth__printer"
            android:screenOrientation="portrait"/>
        <service
            android:name=".Servicios.ServiceImport"
            android:exported="false" />
        <service
            android:name=".Servicios.ServiceImportClienteRuta"
            android:exported="false" />

        <service
            android:name=".Servicios.ServiceExport"
            android:exported="false" />
        <service
            android:name=".Servicios.FirebaseBackgroundService"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name=".Servicios.FirebaseBackgroundService" />
            </intent-filter>
        </service>

        <!--
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        -->
        <activity
            android:name=".Vistas.ImprimirStockDisponible"
            android:screenOrientation="portrait" />
        <activity android:name=".Vistas.ImprimirDevoluciones"></activity>
    </application>

</manifest>
